@media screen and (min-width: 768px) and (max-width: 1023px) {

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        background-color: #DEE2E6;
    }

    /*----- BARRE DE NAVIGATION -----*/

    nav {
        display: none;
    }

    .navMobile {
        margin-top: 60px;
        display: block;
        width: 0vw;
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 999999;
        transition: .5s;
        background: #0553B1;
    }

    .ulMobile {
        padding: 0;
        margin: 0;
        display: none;
    }

    .ulMobile a {
        font-size: 1.5rem;
        padding: 30px;
        text-decoration: none;
        /* font-weight: bold; */
        color: #F8F9FA;
        width: 12em;
        display: inline-block;
    }

    .menuBurgerBackground {
        width: 100%;
        height: 10vh;
        background-color: #0553B1;
        text-align: center;
        position: fixed;
        z-index: 2;
    }

    .menuBurger {
        width: 40px;
        height: 30px;
        position: fixed;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menuBurger span {
        width: 100%;
        height: 4px;
        background: #F8F9FA;
        display: block;
    }

    .menuBurger span:nth-child(1),
    .menuBurger span:nth-child(3) {
        transition: .5s;
    }

    .menuBurgerOpen span:nth-child(1) {
        width: 110%;
        transform: rotate(45deg);
        transition: .5s;
    }

    .menuBurgerOpen span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .menuBurgerOpen span:nth-child(3) {
        width: 110%;
        transform: rotate(-45deg);
        margin-top: -55px;
        transition: .5s;
    }

    /*----- UNDERLINE ANIMATION -----*/

    nav a {
        position: relative;
    }

    nav a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        top: 8vh;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        background: #F8F9FA;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      
      nav a:hover:after { 
        width: 80%; 
        left: 0; 
      }

    /*----- HEADER -----*/

    header {
        background-image: url('annexes/Wave.svg');
        height: 100vh;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
    }

    .title {
        color: #212529;
        font-size: 2em;
        text-align: center;
        padding-top: 40vh;
    }

    .title>h1 {
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }

    .title>h2 {
        font-weight: lighter;
    }

    .title>a {
        text-decoration: none;
        font-size: 2em;
        color: #212529;
    }

    /*----- PRESENTATION -----*/

    .presentation>h1 {
        margin: 0;
        font-size: 5em;
        color: #212529;
        padding-left: 5%;
        padding-top: 15vh;
    }

    .presentation_content {
        padding-top: 5%;
        text-align: center;
    }

    .avatar {
        margin-left: 5%;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 2px solid #212529;
        background-color: #E9ECEF;
    }

    .presentation_content>p {
        font-size: 2em;
        color: #212529;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

    .download_btn {
        justify-content: center;
        display: flex;
    }

    .download_btn {
        width: 100%;
        top: 5vh;
    }

    /*----- BUTTON ANIMATION CV -----*/

    .wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .download_btn a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #212529;
        border: 2px solid #343A40;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
        text-transform: uppercase;
    }

    .download_btn a span {
        position: relative;
        z-index: 1;
    }

    .download_btn a:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #027DFD;
        transition: all .35s;
    }

    .download_btn a:hover {
        color: #F8F9FA;
    }

    .download_btn a:hover:after {
        width: 100%;
    }

    /*----- COMPETENCES -----*/

    .competences>h1 {
        margin: 0;
        font-size: 5em;
        color: #212529;
        padding-left: 5%;
        padding-top: 15vh;
    }

    .competences_content {
        display: flex;
        justify-content: space-around;
    }

    .competence {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .competence>img {
        width: 150px;
        height: 150px;
        padding: 5%;
        border-radius: 10%;
        border: 2px solid #212529;
        background-color: #E9ECEF;
    }

    /*----- EXPERIENCES -----*/

    .experiences>h1 {
        margin: 0;
        font-size: 5em;
        color: #212529;
        padding-left: 5%;
        padding-top: 15vh;
    }

    .experiences_content {
        margin-top: 1%;
    }

    .projets {
        display: flex;
        /* margin-left: 25%; */
        /* margin-right: 25%; */
        justify-content: space-around;
    }

    /*----- EXPERIENCES FLIP CARD -----*/

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
        margin: 2%;
        background-color: transparent;
        width: 300px;
        height: 350px;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
        border: solid 2px #212529;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: #6C757D;
        color: #F8F9FA;
    }

    /* Style the back side */
    .flip-card-back {
        background-color: #F8F9FA;
        color: #212529;
        transform: rotateY(180deg);
    }

    /*----- EXPERIENCES CONTENT -----*/

    .flip-card-front>h2 {
        position: relative;
        top: 20%;
    }

    .flip-card-front>h3 {
        position: relative;
        top: 20%;
    }

    .experience_btn {
        background-color: #343A40;
        font-weight: bold;
        color: #F8F9FA;
        width: 50%;
        height: 5vh;
        border-radius: 8px;
        position: absolute;
        bottom: 10%;
        left: 25%;
    }

    /*----- PROJET CONTENT -----*/

    .experience_content {
        padding-top: 15vh;
        padding-left: 5%;
        padding-right: 5%;
        color: #212529;
    }

    .experience_content>h1 {
        font-size: 5em;
    }

    .experience_content>h2 {
        font-size: 2.5em;
        color: #212529;
        text-align: center;
        margin: 5%;
    }

    .experience_content>p {
        font-size: 2em;
        text-align: justify;
    }

    .experience_content>img {
        text-align: center;
    }

    /*----- MATEX -----*/

    .matex_logos>img {
        width: 100%;
    }

    .roll_up_img {
        width: 100%;
    }

    .depliants {
        margin-bottom: 5vh;
    }

    .depliants>img {
        width: 100%;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    /*----- APPLI MOBILE -----*/

    .maquettes {
        width: 100%;
        margin-bottom: 5%;
    }

    .maquette {
        border: solid 3px #212529;
        width: 100%;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    /*----- INTEGRATION WEB -----*/

    .integration_web {
        text-align: center;
        margin-bottom: 2.5vh;
    }

    .integration_web>img {
        width: 90%;
        box-shadow: 30px 10px 4px #212529;
    }

    /*----- PROJET TUTEURE -----*/

    .projet_tuteure {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 2.5vh;
    }

    .projet_tuteure>img {
        width: 40%;
        box-shadow: 30px 10px 4px #212529;
    }

    /*----- AFFICHES -----*/

    .affiche {
        text-align: center;
        margin-bottom: 2.5vh;
    }

    .affiche>img {
        width: 90%;
        filter: drop-shadow(30px 10px 4px #212529);
    }

    /*----- CONTACT -----*/

    .contact {
        width: 100%;
        margin-bottom: 10%;
    }

    .contact>h1 {
        margin: 0;
        font-size: 5em;
        color: #212529;
        padding-left: 5%;
        padding-top: 6%;
    }

    .contact>p {
        padding-left: 5%;
        font-size: 2em;
        color: #212529;
    }

    .contact>a>img {
        width: 10%;
        align-items: center;
    }

    .contacts {
        width: 100%;
        text-align: center;
    }

    .contacts>a>img {
       width: 10%;
       margin-top: 5%;
       margin-left: 10%;
       margin-right: 10%;
    }

    /*----- FOOTER -----*/
    footer {
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: #0553B1;
        color: #F8F9FA;
        font-size: 1em;
        text-align: center;
        padding: 2%;
    }

}