@media screen and (min-width: 768px) and (max-width: 1023px) {

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        background-color: #DEE2E6;
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        color: #212529;
        padding-top: 15vh;
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    h2 {
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }

    a {
        font-family: Arial, Helvetica, sans-serif; 
    }

      /*----- SLIDE ANIMATIONS -----*/

      .slide-in-from-left {
        animation: 1.5s ease-out 0s 1 slideInFromLeft forwards;
    }
      
    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-50%);
        }
        100% {
          transform: translateX(0);
        }
    }

    .slide-in-from-right {
        animation: 1.5s ease-out 0s 1 slideInFromRight forwards;
    }
      
    @keyframes slideInFromRight {
        0% {
          transform: translateX(50%);
        }
        100% {
          transform: translateX(0);
        }
    }

    /*----- BARRE DE NAVIGATION -----*/

    nav {
        display: none;
    }

    .navMobile {
        margin-top: 60px;
        display: block;
        width: 0vw;
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 999999;
        transition: .5s;
        background: #0553B1;
    }

    .ulMobile {
        padding: 0;
        margin: 0;
        display: none;
    }

    .ulMobile a {
        font-size: 1.5rem;
        padding: 30px;
        text-decoration: none;
        color: #F8F9FA;
        width: 12em;
        display: inline-block;
    }

    .menuBurgerBackground {
        width: 100%;
        height: 10vh;
        background-color: #0553B1;
        text-align: center;
        position: fixed;
        z-index: 2;
    }

    .menuBurger {
        width: 40px;
        height: 30px;
        position: fixed;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menuBurger span {
        width: 100%;
        height: 4px;
        background: #F8F9FA;
        display: block;
    }

    .menuBurger span:nth-child(1),
    .menuBurger span:nth-child(3) {
        transition: .5s;
    }

    .menuBurgerOpen span:nth-child(1) {
        width: 110%;
        transform: rotate(45deg);
        transition: .5s;
    }

    .menuBurgerOpen span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .menuBurgerOpen span:nth-child(3) {
        width: 110%;
        transform: rotate(-45deg);
        margin-top: -55px;
        transition: .5s;
    }

    /*----- UNDERLINE ANIMATION -----*/

    nav a {
        position: relative;
    }

    nav a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        top: 8vh;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        background: #F8F9FA;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      
      nav a:hover:after { 
        width: 80%; 
        left: 0; 
      }

    /*----- HEADER -----*/

    header {
        background-image: url('annexes/Wave.svg');
        height: 100vh;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
    }

    .title {
        color: #212529;
        font-size: 2em;
        text-align: center;
        padding-top: 40vh;
    }

    .title>h1 {
        padding: 0;
    }

    .title>h2 {
        font-weight: lighter;
    }

    .title>a {
        text-decoration: none;
        font-size: 2em;
        color: #212529;
    }

    /*----- PRESENTATION -----*/

    .presentation_content {
        padding-top: 5%;
        text-align: center;
    }

    .avatar {
        margin-left: 5%;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 2px solid #212529;
        background-color: #E9ECEF;
    }

    .presentation_txt>p {
        color: #212529;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

     /*----- DOWNLOAD BUTTON -----*/

     .download_btn {
        margin-top: 10vh;
        display: flex;
        padding-left: 5%;
        padding-right: 5%;
    }

    .download_btn>a {
        width: 100%;
        padding: 2vh;
        border-radius: 100px;
        text-align: center;
        transition: 0.5s;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #0553B1;;
        color: #DEE2E6;
        border: 1px solid #0553B1;
    }

    .download_btn>a:hover {
        transition: 0.5s;
        border-radius: 100px;
        background-color: #E9ECEF;
        border: 1px solid #0553B1;
        color: #0553B1;
    }

    /*----- COMPETENCES -----*/
    
    .competences_content {
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
    }
    
    .competence {
        flex: 1 0 21%;
        text-align: center;
        align-content: center;
        margin: 1%;
        width: 200px;
        height: 300px;
        border-radius: 2%;
        background-color: whitesmoke;
    }

    .competence:hover {
        box-shadow: 
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .competence>img {
        width: 30%;
    }

    .skill_img {
        align-items: center;
        align-content: center;
        height: 50%;
    }

    .skill_img>img {
        width: 30%;
    }

     /*----- MES PROJETS -----*/

    .project_img>img {
        width: 30%;
        border-radius: 50%;
    }

    .project {
        text-decoration: none;
        color: #212529;
        flex: 1 0 21%;
        text-align: center;
        align-content: center;
        margin: 1%;
        width: 200px;
        height: 300px;
        border-radius: 2%;
        background-color: whitesmoke;
    }

    .project:hover {
        box-shadow: 
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .project>img {
        width: 30%;
    }

    /*----- PROJET CONTENT -----*/

    .project_content {
        padding: 5%;
        color: #212529;
    }

    .project_content_container {
        display: flex;
        align-items: center;
    }

    .project_content_img {
        width: 50%;
    }

    .project_content_img>img {
        width: 100%;
    }

    .project_content_text {
        width: 50%;
        margin-left: 10%;
        text-align: justify;
    }

    .smartphone_container {
        width: 20%;
    }

    .project_content_smartphone_text {
        width: 80%;
        margin-left: 40%;
        text-align: justify;
    }

    .smartphone {
        position: relative;
        width: 300px;
        height: 550px;
        margin: 50px;
        border: 5px black solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
      }
      
      /* The horizontal line on the top of the device */
      .smartphone:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
      }
      
      /* The circle on the bottom of the device */
      .smartphone:after {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 50%;
        bottom: -65px;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
      }
      
      /* The screen (or content) of the device */
      .smartphone .content {
        background: black;
      }

    /*----- FOOTER -----*/
    footer {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: #0553B1;
        color: #F8F9FA;
        font-size: 1em;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .copyright {
        padding-bottom: 2%;
    }

    .contacts {
        display: flex;
        margin-left: 30%;
        margin-right: 30%;
        justify-content: space-around;
    }

    .contact_icon {
        width: 2vw;
    }

    .contact_icon>img {
        width: 2vw;
    }

}