@media screen and (min-width: 1024px) {

    html {
        scroll-behavior: smooth;
    }

    body {
        height: 100%;
        margin: 0;
        background-color: #DEE2E6;
    }

    h1 {
        font-size: 3em;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2 {
        font-size: 2em;
        color: #212529;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }

    a {
        font-family: Arial, Helvetica, sans-serif; 
    }

    /*----- BARRE DE NAVIGATION -----*/

    nav {
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #0553B1;
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    nav a {
        text-decoration: none;
        font-weight: bold;
        color: #F8F9FA;
        width: 12em;
        display: inline-block;
    }

    .navMobile,
    .menuBurger {
        display: none;
    }

    /*----- UNDERLINE ANIMATION -----*/

    nav a {
        position: relative;
    }

    nav a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        top: 150%;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #F8F9FA;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      
      nav a:hover:after { 
        width: 100%; 
        left: 0; 
      }

    /*----- HEADER -----*/

    header {
        background-image: url('annexes/Wave.svg');
        height: 100vh;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
    }

    .title {
        color: #212529;
        font-size: 2em;
        text-align: center;
        padding-top: 20%;
    }

    .title>h1 {
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }

    .title>h2 {
        font-weight: lighter;
    }

    .title>a {
        text-decoration: none;
        font-size: 2em;
        color: #212529;
    }

    /*----- PRESENTATION -----*/

    .presentation>h1 {
        margin: 0;
        color: #212529;
        padding-left: 5%;
        padding-top: 6%;
    }

    .presentation_content {
        display: flex;
        padding-top: 5%;
    }

    .avatar {
        margin-left: 5%;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        border: 2px solid #212529;
        background-color: #E9ECEF;
    }

    .presentation_txt {
        font-size: 1em;
        color: #212529;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

    .download_btn {
        text-align: center;
        width: 50%;
        top: 5vh;
        border-radius: 5%;
    }

    /*----- BUTTON ANIMATION CV -----*/

    .wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .download_btn a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 1em;
        font-family: sans-serif;
        text-decoration: none;
        color: #212529;
        border: 2px solid #343A40;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
        text-transform: uppercase;
    }

    .download_btn a span {
        position: relative;
        z-index: 1;
    }

    .download_btn a:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #027DFD;
        transition: all .35s;
    }

    .download_btn a:hover {
        color: #F8F9FA;
    }

    .download_btn a:hover:after {
        width: 100%;
    }

    /*----- COMPETENCES -----*/

    .competences>h1 {
        margin: 0;
        color: #212529;
        padding-left: 5%;
        padding-top: 6%;
    }

    .competences_content {
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
    }
    
    .competence {
        flex: 1 0 21%;
        text-align: center;
        align-content: center;
        margin: 1%;
        width: 200px;
        height: 300px;
        border-radius: 2%;
        background-color: whitesmoke;
    }

    .competence:hover {
        box-shadow: 
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .competence>img {
        width: 30%;
    }

    .skill_img {
        align-items: center;
        align-content: center;
        height: 50%;
    }

    .skill_img>img {
        width: 30%;
    }

    /*----- MES PROJETS -----*/

    .projects>h1 {
        margin: 0;
        color: #212529;
        padding-left: 5%;
        padding-top: 6%;
    }

    .project_img>img {
        width: 30%;
        border-radius: 50%;
    }

    .project {
        text-decoration: none;
        color: #212529;
        flex: 1 0 21%;
        text-align: center;
        align-content: center;
        margin: 1%;
        width: 200px;
        height: 300px;
        border-radius: 2%;
        background-color: whitesmoke;
    }

    .project:hover {
        box-shadow: 
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .project>img {
        width: 30%;
    }

    /*----- PROJET CONTENT -----*/

    .project_content {
        padding: 5%;
        color: #212529;
    }

    .project_content_container {
        display: flex;
        align-items: center;
    }

    .project_content_img {
        width: 50%;
    }

    .project_content_img>img {
        width: 100%;
    }

    .project_content_text {
        width: 50%;
        margin-left: 10%;
        text-align: justify;
    }

    .smartphone_container {
        width: 20%;
    }

    .project_content_smartphone_text {
        width: 80%;
        margin-left: 25%;
        text-align: justify;
    }

    .smartphone {
        position: relative;
        width: 300px;
        height: 550px;
        margin: 50px;
        border: 5px black solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
      }
      
      /* The horizontal line on the top of the device */
      .smartphone:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
      }
      
      /* The circle on the bottom of the device */
      .smartphone:after {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 50%;
        bottom: -65px;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
      }
      
      /* The screen (or content) of the device */
      .smartphone .content {
        background: black;
      }

    /*----- FOOTER -----*/
    footer {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: #0553B1;
        color: #F8F9FA;
        font-size: 1em;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .copyright {
        padding-bottom: 2%;
    }

    .contacts {
        display: flex;
        margin-left: 45%;
        margin-right: 45%;
        justify-content: space-around;
    }

    .contact_icon {
        width: 2vw;
    }

    .contact_icon>img {
        width: 2vw;
    }
}