@media screen and (max-width: 767px) {

    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

    :root {
        --background: #DEE2E6;
        --black: #212529;
        --white: #F8F9FA;
        --blue: #0553B1; 
        --shadow: #0000002e;
        --pop-delay: 0.0s;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        background-color: var(--background);
        user-select: none;
    }

    h1 {
        font-weight: bold;
        margin: 0;
        color: var(--black);
        padding-top: 15vh;
        font-size: 30px;
        font-family: Orbitron;
        text-align: center;
    }

    h2 {
        font-size: 25px;
        color: var(--black);
        font-family: Orbitron;
    }

    h3 {
        font-size: 20px;
        color: var(--black);
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        font-size: 15px;
        color: var(--black);
        font-family: Arial, Helvetica, sans-serif;
    }

    a,span {
        font-family: Arial, Helvetica, sans-serif;
    }

      /*----- SLIDE ANIMATIONS -----*/

      .slide-in-from-left {
        animation: 1.0s ease-out 0s 1 slideInFromLeft forwards;
    }
      
    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-50%);
        }
        100% {
          transform: translateX(0);
        }
    }

    .slide-in-from-right {
        animation: 1.0s ease-out 0s 1 slideInFromRight forwards;
    }
      
    @keyframes slideInFromRight {
        0% {
          transform: translateX(50%);
        }
        100% {
          transform: translateX(0);
        }
    }

    /*----- BARRE DE NAVIGATION -----*/

    nav {
        display: none;
    }

    .navMobile {
        margin-top: 60px;
        display: block;
        width: 0vw;
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 999999;
        transition: .5s;
        background: var(--blue);
    }

    .ulMobile {
        padding: 0;
        margin: 0;
        display: none;
    }

    .ulMobile a {
        font-size: 1.5rem;
        padding: 30px;
        text-decoration: none;
        color: var(--white);
        width: 12em;
        display: inline-block;
        animation-delay: 2s;
    }

    .menuBurgerBackground {
        width: 100%;
        height: 10vh;
        background-color: var(--blue);
        text-align: center;
        position: fixed;
        z-index: 2;
    }

    .menuBurger {
        width: 40px;
        height: 30px;
        position: fixed;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }

    .menuBurger span {
        width: 100%;
        height: 4px;
        background: var(--white);
        display: block;
    }

    .menuBurger span:nth-child(1),
    .menuBurger span:nth-child(3) {
        transition: .5s;
    }

    .menuBurgerOpen span:nth-child(1) {
        width: 110%;
        transform: rotate(45deg);
        transition: .5s;
    }

    .menuBurgerOpen span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .menuBurgerOpen span:nth-child(3) {
        width: 110%;
        transform: rotate(-45deg);
        margin-top: -55px;
        transition: .5s;
    }

    /*----- UNDERLINE ANIMATION -----*/

    nav a {
        position: relative;
    }

    nav a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        top: 9vh;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        background: var(--white);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      
      nav a:hover:after { 
        width: 80%; 
        left: 0; 
      }

    /*----- HEADER -----*/

    header {
        background-image: url('annexes/background.png');
        height: 100vh;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
        align-content: center;
    }

    .title {
        color: var(--black);
        text-align: center;
    }

    .title>h1 {
        font-size: 50px;
    }

    .title>a {
        text-decoration: none;
        color: var(--black);
    }

    .title svg {
        height: 4vh;
    }

    .title svg:hover {
        color: var(--blue);
    }

    /*----- PRESENTATION -----*/

    .presentation {
        padding: 10% 5% 10% 5%;
    }

    .avatar_container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .avatar_background {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid var(--blue);
        background-color: var(--white);
        box-shadow: 
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        filter: grayscale(1);
        transition: 0.5s;
    }

    .avatar:hover {
        filter: grayscale(0);
        transition: 0.5s;
    }

    .presentation_txt>p {
        color: var(--black);
        padding-left: 5%;
        padding-right: 5%;
    }

     /*----- DOWNLOAD BUTTON -----*/

    .download_btn {
        width: 100%;
        justify-content: center;
        margin-top: 10%;
        display: flex;
    }

    .download_btn>a {
        padding: 2% 15% 2% 15%;
        border-radius: 100px;
        text-align: center;
        transition: 0.5s;
        text-decoration: none;
        text-transform: uppercase;
        background-color: var(--blue);
        color: var(--white);
        border: 1px solid var(--blue);
        user-select: none;
    }

    .download_btn>a:hover {
        transition: 0.5s;
        border-radius: 100px;
        background-color: var(--background);
        border: 1px solid var(--blue);
        color: var(--blue);
    }

    /*----- COMPETENCES -----*/

    .skills_toggle_container {
        width: 100%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    .skills_toggle {
        width: 80%;
        display: flex;
        background-color: var(--blue);
        border-radius: 100px;
        justify-content: space-around;
    }

    .skills_toggle>p {
        width: 30%;
        text-align: center;
        padding: 1%;
        font-weight: bold;
        color: var(--white);
        border-radius: 100px;
        cursor: pointer;
        user-select: none;
    }

    .skills_toggle_select {
        background-color: var(--white);
        animation: skill_pop 0.3s linear 1;
    }

    :root {
        --pop-delay: 0.0s;
    }

    .skill_pop_animation {
        animation: skill_pop 0.3s linear 1;
    }

    .skills_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .skills_container_display_none {
        display: none;
    }

    .skill_box {
        align-content: center;
        width: 50px;
        height: 50px;
        text-align: center;
        padding: 4%;
        margin: 1%;
        background-color: whitesmoke;
        box-shadow: 0 3px 5px var(--shadow);
        border-radius: 10px;
    }

    .skill_box>img {
        width: 50px;
    }

    .skill_box_tooltip {
        position: relative;
        display: inline-block;
    }
      
    .skill_box_tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        bottom: 120%;
        left: 50%;
        margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
        background-color: var(--blue);
        color: var(--white);
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
      
    .skill_box_tooltip:hover .tooltiptext {
        visibility: visible;
        animation: 0.3s ease-out 0s 1 slideInFromTop forwards;
    }
      
    @keyframes slideInFromTop {
        0% {
          transform: translateY(-2vh);
          opacity: 50%;
        }
        100% {
          transform: translateY(0vh);
          opacity: 100%;
        }
    }

    @keyframes skill_pop {
        50%  {transform: scale(1.2);}
    }

    /*----- EXPERIENCES -----*/

    .experiences {
        margin-bottom: 10vh;
    }

    .experiences_container {
        width: 100%;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .line {
        display: none;
    }

    .circle {
        display: none;
    }

    .experience_box {
        align-content: center;
        height: 80%;
        margin: 5%;
        background-color: whitesmoke;
        box-shadow: 0 3px 5px var(--shadow);
        border-radius: 10px;
    }

    .experience_header {
        width: 100%;
    }

    .experience_header img {
        display: none;
    }

    .experience_title {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .experience_subtitle {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .experience_desc {
        margin: 10%;
    }

     /*----- PROJETS -----*/

     .projects_list {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .project_container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @keyframes project_pop {
        0%  {
            transform: scale(0.5);
        }
        100% {
            transform: scale(1);
        }
    }

    .pop_animation {
        animation: project_pop 0.5s linear 1;
    }

    .project_box {
        width: 80%;
        padding: 2%;
        margin: 2%;
        background-color: whitesmoke;
        box-shadow: 0 3px 5px var(--shadow);
        border-radius: 10px;
    }
    
    .project_header {
        width: 100%;
        text-align: center;
    }

    .project_logo>img {
        height: 20vh;
        border-radius: 50%;
    }

    .project_details {
        width: 100%;
        margin-bottom: 5vh;
    }

    .project_label {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .project_label>span {
        background-color: var(--white);
        border-radius: 10px;
        color: var(--black);
        padding: 1% 2% 1% 2%;
        box-shadow: 0 3px 5px var(--shadow);
        font-weight: bold;
    }

    .project_desc {
        margin: 3%;
    }

    .project_more {
        width: 100%;
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .project_more>a {
        padding: 2% 15% 2% 15%;
        border-radius: 100px;
        text-align: center;
        transition: 0.5s;
        text-decoration: none;
        text-transform: uppercase;
        background-color: var(--blue);
        color: var(--white);
        border: 1px solid var(--blue);
        font-weight: bold;
        user-select: none;
    }

    .project_more>a:hover {
        transition: 0.5s;
        border-radius: 100px;
        background-color: whitesmoke;
        border: 1px solid var(--blue);
        color: var(--blue);
    }

    .disabled>a {
        cursor: not-allowed;
    }

    .hidden_projects_btn_container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hidden_projects_btn_container>a {
        width: 60%;
    }

    .hidden_projects_btn_container>a:hover {
        background-color: var(--background);
    }

    .hidden_projects_btn {
        width: 100%;
        cursor: pointer;
        user-select: none;
    }

    /*----- PROJET CONTENT -----*/

    .project_content {
        padding: 5%;
        color: var(--black);
    }

    .project_content_img {
        width: 100%;
    }

    .project_content_img>img {
        width: 100%;
    }

    .project_content_text {
        width: 100%;
    }

    .smartphone_container {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    
    .smartphone {
        position: relative;
        width: 300px;
        height: 550px;
        margin: 50px;
        border: 5px black solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
      }
      
      /* The horizontal line on the top of the device */
      .smartphone:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
      }
      
      /* The circle on the bottom of the device */
      .smartphone:after {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 50%;
        bottom: -65px;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
      }
      
      /* The screen (or content) of the device */
      .smartphone .content {
        width: 300px;
        height: 550px;
        background: black;
      }

    /*----- FOOTER -----*/
    footer {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: var(--blue);
        color: var(--white);
        text-align: center;
        margin-top: 5vh;
        padding-top: 2%;
    }

    .copyright {
        padding: 3vh;
    }

    .contacts {
        display: flex;
        justify-content: center;
        gap: 3em;
    }

    .contact_icon svg {
        height: 3vh;
        color: white;
    }

    .mail svg:hover {
        color: var(--black);
    }

    .linkedin svg:hover {
        color: var(--black);
    }

    .github svg:hover {
        color: var(--black);
    }

}