@media screen and (max-width: 767px) {

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        background-color: #DEE2E6;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }

    /*----- BARRE DE NAVIGATION -----*/

    nav {
        display: none;
    }

    .navMobile {
        margin-top: 60px;
        display: block;
        width: 0vw;
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 999999;
        transition: .5s;
        background: #0553B1;
    }

    .ulMobile {
        padding: 0;
        margin: 0;
        display: none;
    }

    .ulMobile a {
        font-size: 1.5rem;
        padding: 30px;
        text-decoration: none;
        /* font-weight: bold; */
        color: #F8F9FA;
        width: 12em;
        display: inline-block;
        animation-delay: 2s;
    }

    .menuBurgerBackground {
        width: 100%;
        height: 10vh;
        background-color: #0553B1;
        text-align: center;
        position: fixed;
        z-index: 2;
    }

    .menuBurger {
        width: 40px;
        height: 30px;
        position: fixed;
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menuBurger span {
        width: 100%;
        height: 4px;
        background: #F8F9FA;
        display: block;
    }

    .menuBurger span:nth-child(1),
    .menuBurger span:nth-child(3) {
        transition: .5s;
    }

    .menuBurgerOpen span:nth-child(1) {
        width: 110%;
        transform: rotate(45deg);
        transition: .5s;
    }

    .menuBurgerOpen span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .menuBurgerOpen span:nth-child(3) {
        width: 110%;
        transform: rotate(-45deg);
        margin-top: -55px;
        transition: .5s;
    }

    /*----- UNDERLINE ANIMATION -----*/

    nav a {
        position: relative;
    }

    nav a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        top: 9vh;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        background: #F8F9FA;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      
      nav a:hover:after { 
        width: 80%; 
        left: 0; 
      }

    /*----- HEADER -----*/

    header {
        background-image: url('annexes/Wave.svg');
        height: 100vh;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
    }

    .title {
        color: #212529;
        font-size: 2em;
        text-align: center;
        padding-top: 40vh;
    }

    .title>h1 {
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }

    .title>h2 {
        font-weight: lighter;
    }

    .title>a {
        text-decoration: none;
        font-size: 2em;
        color: #212529;
    }

    /*----- PRESENTATION -----*/

    .presentation>h1 {
        margin: 0;
        color: #212529;
        padding-left: 5%;
        padding-top: 15vh;
    }

    .presentation_content {
        padding-top: 5%;
        text-align: center;
    }

    .avatar {
        margin-left: 5%;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 2px solid #212529;
        background-color: #E9ECEF;
    }

    .presentation_content>p {
        color: #212529;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

    .download_btn {
        width: 100%;
        top: 5vh;
        justify-content: center;
        display: flex;
    }

    /*----- BUTTON ANIMATION CV -----*/

    .wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .download_btn a {
        text-align: center;
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #212529;
        border: 2px solid #343A40;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
        text-transform: uppercase;
    }

    .download_btn a span {
        position: relative;
        z-index: 1;
    }

    .download_btn a:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #027DFD;
        transition: all .35s;
    }

    .download_btn a:hover {
        color: #F8F9FA;
    }

    .download_btn a:hover:after {
        width: 100%;
    }

    /*----- COMPETENCES -----*/

    .competences>h1 {
        margin: 0;
        color: #212529;
        padding-left: 5%;
        padding-top: 15vh;
    }
    
    .competences_content {
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
    }
    
    .competence {
        flex: 1 0 41%;
        text-align: center;
        align-content: center;
        margin: 1%;
        width: 200px;
        height: 300px;
        border-radius: 2%;
        background-color: whitesmoke;
    }

    .competence:hover {
        box-shadow: 
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .competence>img {
        width: 30%;
    }

    .skill_img {
        align-items: center;
        align-content: center;
        height: 50%;
    }

    .skill_img>img {
        width: 30%;
    }

     /*----- EXPERIENCES & PROJETS -----*/

     .projects>h1 {
        margin: 0;
        color: #212529;
        padding-left: 5%;
        padding-top: 6%;
    }

    .experience_img>img {
        width: 30%;
        border-radius: 50%;
    }

    .experiences_content {
        margin-top: 1%;
    }

    .project {
        flex: 1 0 41%;
        text-align: center;
        align-content: center;
        margin: 1%;
        width: 200px;
        height: 300px;
        border-radius: 2%;
        background-color: whitesmoke;
    }

    .project:hover {
        cursor: pointer;
        box-shadow: 
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .project>a {
        text-decoration: none;
        color: #212529;
    }

    .project>img {
        width: 30%;
    }

    /*----- EXPERIENCES FLIP CARD -----*/

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    .flip-card {
        margin: 15%;
        background-color: transparent;
        width: 70%;
        height: 350px;
        perspective: 1000px;
        margin-top: 25%;
        /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front,
    .flip-card-back {
        border: solid 2px #212529;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: #6C757D;
        color: #F8F9FA;
    }

    /* Style the back side */
    .flip-card-back {
        background-color: #F8F9FA;
        color: #212529;
        transform: rotateY(180deg);
    }

    /*----- EXPERIENCES CONTENT -----*/

    .flip-card-front>h2 {
        position: relative;
        top: 20%;
    }

    .flip-card-front>h3 {
        position: relative;
        top: 20%;
    }

    .experience_btn {
        background-color: #343A40;
        font-weight: bold;
        color: #F8F9FA;
        width: 50%;
        height: 5vh;
        border-radius: 8px;
        position: absolute;
        bottom: 10%;
        left: 25%;
    }

    /*----- PROJET CONTENT -----*/

    .experience_content {
        padding-top: 15vh;
        padding-left: 5%;
        padding-right: 5%;
        color: #212529;
    }

    .experience_content>h2 {
        color: #212529;
        text-align: center;
        margin: 5%;
    }

    .experience_content>p {
        text-align: justify;
    }

    .experience_content>img {
        text-align: center;
    }

    /*----- MATEX -----*/

    .matex_logos>img {
        width: 100%;
    }

    .roll_up_img {
        width: 100%;
    }

    .depliants {
        margin-bottom: 5vh;
    }

    .depliants>img {
        width: 100%;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    /*----- APPLI MOBILE -----*/

    .maquettes {
        width: 100%;
        margin-bottom: 5%;
    }

    .maquette {
        border: solid 3px #212529;
        width: 100%;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    /*----- INTEGRATION WEB -----*/

    .integration_web {
        text-align: center;
        margin-bottom: 5vh;
    }

    .integration_web>img {
        width: 90%;
        box-shadow: 30px 10px 4px #212529;
    }

    /*----- PROJET TUTEURE -----*/

    .projet_tuteure {
        margin-bottom: 5vh;
    }

    .projet_tuteure>img {
        width: 90%;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        box-shadow: 30px 10px 4px #212529;
    }

    /*----- AFFICHES -----*/

    .affiche {
        text-align: center;
    }

    .affiche>img {
        width: 90%;
        filter: drop-shadow(30px 10px 4px #212529);
        margin-bottom: 2.5vh;
    }

    /*----- Projets Mobiles ----- */

    .smartphone {
        position: relative;
        width: 300px;
        height: 550px;
        margin: 50px;
        border: 5px black solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
      }
      
      /* The horizontal line on the top of the device */
      .smartphone:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
      }
      
      /* The circle on the bottom of the device */
      .smartphone:after {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 50%;
        bottom: -65px;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 50%;
      }
      
      /* The screen (or content) of the device */
      .smartphone .content {
        width: 300px;
        height: 550px;
        background: black;
      }

    /*----- CONTACT -----*/

    .contact {
        width: 100%;
        margin-bottom: 10%;
    }

    .contact>h1 {
        margin: 0;
        color: #212529;
        padding-left: 5%;
        padding-top: 6%;
    }

    .contact>p {
        padding-left: 5%;
        color: #212529;
    }

    .contact>a>img {
        width: 10%;
        align-items: center;
    }

    .contacts {
        width: 100%;
        text-align: center;
    }

    .contacts>a>img {
       width: 10%;
       margin-top: 5%;
       margin-left: 10%;
       margin-right: 10%;
    }

    /*----- FOOTER -----*/
    footer {
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: #0553B1;
        color: #F8F9FA;
        font-size: 1em;
        text-align: center;
        padding: 2%;
    }

}